* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background: rgb(0, 212, 255);
  background: linear-gradient(
    48deg,
    rgba(0, 212, 255, 1) 0%,
    rgba(251, 82, 131, 1) 100%
  );

  display: flex;
  justify-content: center;
  align-items: center;
}
